@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Outfit:wght@300;400;500;600;700&display=swap');
@import '_variables.scss';

@font-face {
    font-family: 'InterRegular';
    src: url('/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'InterExtrabold';
    src: url('/fonts/Inter-ExtraBold.ttf');
}

body{
    font-family: 'Inter', sans-serif; 
    margin: 0;   
}

h1, h2, h3, p{
    margin: 0;
}

p{
    font-family: 'InterRegular';
    font-size: $p-font-size;
    line-height: 24px;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: inherit
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 90px auto;
    

    .contents{
        padding: 0 165px;
    }
}

.mobile-links, .overlay, .sm-view{
    display: none;
}

header{
    padding-bottom: 55px;
    nav{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
        align-items: center;

        .links{
            display: flex;
            justify-content: flex-end;
            gap: 40px;
            a{
                text-decoration: none;
                font-size: $p-font-size;
                color:$dark-grayish-blue;
                &:hover{
                    color:$soft-orange;
                }
            }
        }        

    }
}

main{
   
        .top-container{
            display: grid;
            grid-template-columns: 65.75% auto;
            gap: 30px;
            margin-bottom: 70px;
            
            
            .hero-img{
                img{
                
                    width: 100%;
                }
            }

            .new{
               
              background: $very-dark-blue;
                color:#fff;
                padding: 35px 25px;
                

                h1{
                    
                    color:$soft-orange;
                    font-size: 30px;
                    margin-bottom: 30px;
                }

                .new-topics{
                    h3{
                        margin-bottom: 10px;
                    }
                    p{
                        color: $grayish-blue;
                      
                    }
                }

                hr{
                    margin:1.5rem 0;
                    border-width: 0.5px;
                    border-color: $dark-grayish-blue;
                }

                a{
                    &:hover{
                        h3{
                            color: $soft-orange;
                        }
                    }
                }
            }   
        }
        
    
}

.highlight-article {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 30px;

    h1.hero-title{
        font-family: 'InterExtrabold';
        font-size: 55px;     
        line-height: 60px; 
    }

    .hero-article{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;

        button.cta-btn {
            text-transform: uppercase;
            border: none;
            background: $soft-red;
            width: 182px;
            height: 48px;
            text-align: center;
            color: #fff;
            font-weight: 700;
            letter-spacing: 2px;
            cursor: pointer;
            &:hover{
                background: $very-dark-blue;
            }
        }

    }
   
}


.bottom-container {
    display: grid;
    grid-template-columns: 29.5% 29.85% 29.5%;
    gap: 50px;

    a{
        .topics-box{
            display: flex;
           
                img{
                    width: 100px;
                }
                .content-overview{
                    padding-left: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
        
                    .article-num{
                        font-size: 30px;
                        font-family: 'InterExtrabold';
                        color: $grayish-blue;
                    }
                    .article-title{
                        font-size: 18px;
                        font-family: 'InterExtrabold';
                        margin: 10px 0;
                    }
                    
                }
       
           
        }
        &:hover{
            .article-title{
                color:$soft-red;
            }
        }
    }

}

//responsive

@media screen and (max-width: 1119px) {

    main .top-container,
    .bottom-container{
        grid-template-columns: auto;
    }

    .highlight-article .hero-article{
        padding-left: 0;
    }
}

@media screen and (max-width: 991px) {

    body{
        overflow-x: hidden;
        position: relative;
        &.open{
            .mobile-nav{
                position: fixed;
                top:50px;
                right:15px;
                span{                 
                    position: absolute;
                    right: 0;
                    top: 0;                 
                }

                span:first-child{                    
                    transform: rotate(45deg);
                   
                }
                span:nth-child(2){
                    transform: rotate(-45deg);
                   
                }
                span:last-child{
                    display: none;                  
                }
            }   
        }
    }

    .container{
        padding-top: 30px;
        padding-bottom: 80px;
        margin: 0 auto;
        .contents{
            padding: 0 15px;
        }
    } 

    .mobile-links{
        position: fixed;
        top: 0;
        z-index: 8;
        right:-375px;
        width: 255px;
        height: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 145px 0 0 20px;
        font-size: 18px;
        transition: 0.3s ease;

        a{
            margin: 15px 0px;
            &:hover{
                color: $soft-orange;
            }
        }
    
    }

    header nav {
        grid-template-columns: auto auto;
        .links{
            display: none;
        }

        

        .mobile-nav {
            display: flex;
            flex-direction: column;
            height: 20px;
            justify-content: space-between;
            position: relative;
            z-index: 10;
            transition:0.3s ease;

            span{
                width: 40px;
                height: 2px;
                background: #000;
                
            }
        }
    
    }

    
    header {
        padding-bottom: 30px;
    }

    .overlay{
        display: block;
        transition: 0.2s ease;

        &.on{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(0,0,0,0.4);
        }
    }
    
}
    
@media screen and (max-width: 767px) {

    .lg-md-view{
        display: none;
    }

    .sm-view{
        display: block;
    }

    
    .highlight-article{
        grid-template-columns: auto;

        h1.hero-title{
        font-size: 42px;
        line-height: 40px;
    }

        .hero-article, .hero-article button{
            margin-top: 20px;
        }
    }

    main .top-container{
        gap:60px;
        
    }

}